# General
**/.DS_Store
debug/
target/
**/*.rs.bk
*.log
.idea/
**/.DS_Store
.bacon-locations
memory-bank/
.cursor/

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb
*.profdata
*.profraw
!.cargo/config.toml
crates/quickstart-lib/tmp/
crates/quickstart-cli/tmp/
crates/quickstart-cli/test-project/

# docs/**/*.md
!docs/CHANGELOG.md
!docs/TODO.md
!docs/ROADMAP.md
!docs/CODE_OF_CONDUCT.md
!docs/CONTRIBUTING.md
.repomix/
repomix-output.txt
