# General
.DS_Store
debug/
target/
Cargo.lock
**/*.rs.bk
*.log
.idea/
.DS_Store
.bacon-locations

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb
*.profdata
*.profraw
